.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

.header .logo {
    width: 2.95rem;

}

@media (width >= 50.625em){ /** tablet + mobile */
    .header {
        align-items: center;
        padding-block: 24px;
    }
}
